.header {
  max-width: 1440px;
  margin: 0 auto; // centers the header on larger screens
  width: 100%;
  align-items: center;
  border-bottom: $White_text solid 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.nav-menu {
  ul {
    display: flex;
    flex-direction: row;
    gap: 55px;
    a {
      color: $White_text;
      font-family: $ff-a;
    }
  }
}
