// COLORS --

$off-black-grey: rgba(36, 36, 36, 1);
$off-white-cream-bg: rgba(250, 249, 246, 1);
$off-white: rgba(255, 255, 242, 1);
$darker-grey: rgba(170, 170, 170, 1);
$grey: rgba(215, 222, 234, 1);
$brown: rgba(175, 115, 74, 1);

// FONTS --

// $ff-h1: font-family: 'Playfair Display', serif;
// $ff-p: 'League Spartan', sans-serif;
// $ff-a:
