// COLORS --

$off-black-grey-p: hsl(0, 0%, 14%);
$off-white-cream-bg: rgba(250, 249, 246, 1);
$off-white: rgba(255, 255, 242, 1);
$grey-bg-0: hsl(0, 5%, 90%);
$darker-grey: hsl(0, 2%, 58%);
$dark-blue-secondary: hsl(205, 31%, 30%);
$yellow-cta: hsl(46, 100%, 58%);
$brown: hsl(25, 38%, 47%);
$off-black: hsl(0, 0%, 8%);

//Client colors

//Unity Support

// FONTS --

$ff-h1: "Playfair Display", serif;
$ff-p: "League Spartan", sans-serif;
$ff-nav: "Playfair Display", serif;
$ff-a: "League Spartan", sans-serif;

// Font weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Section Widths

$header-width: 7.81rem 15% 7.81rem 15%;
$hero-width: 7.81rem 15% 7.81rem 15%;
$intro-text-width: 7.81rem 15% 7.81rem 15%;
