.contact-header {
	// margin: $contact-margin-header;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// height: 100px;
	// border-bottom: $White_text solid 5px;
	
	margin: $margin-header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16px;
	border-bottom: $White_text solid 8px;

	@include breakpoint-mobile {
		margin: $margin-header-mobile;
	}

	img {
		width: 191px;
		// height: 60px;
	}
}

.contact-hero {
	
	text-align: center;

	@include breakpoint-mobile {
		padding:8px;
	}

	h1 {
		font-family: $ff-h1;
		font-size: 128px;
	

		@include breakpoint-mobile {
			font-size: 64px;
			text-align: center;
			line-height: 0.8;
			margin-bottom: 50px;
		}
	}

	p {
		font-family: $ff-p;
		color: $White_text;
		margin-bottom: 70px;
		font-size: 18px;
	}
}

// FORM

.form-container {
	max-width: 700px;
	border: $Grey-300 solid 6px;
	margin: 100px auto;
	border-radius: 3px;

	@include breakpoint-mobile {
		margin-top: 10px;
	}
}

.contact-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
	padding: 60px 0;
	background-color: $Grey-500;
	

	@include breakpoint-mobile {
		flex-direction: column;
		padding: 20px;
	}
}

.form-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button,
fieldset,
input,
legend,
select,
textarea {
	appearance: none;
	border: none;
}

input {
	padding-top: 10px;
	padding-bottom: 5px;
	width: 270px;
	font-family: $ff-p;
	font-size: 16px;
	border-bottom: 2px solid black;
	background-color: $Grey-500;
	transition: ease-in 0.2s;

	&:focus {
		background-color: $Grey-300;
		border-bottom: 2px solid $red-arterial-blood;
		padding-left: 10px;
		// border: 2px solid $red-arterial-blood;
		outline: 2px $yellow solid;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	}
}

label {
	font-family: $ff-p;
	font-size: 18px;
	margin-bottom: 5px;
}

.firstname,
.email,
.phone {
	display: flex;
	flex-direction: column;
}

.message-field {
	display: flex;
	flex-direction: column;
}

.message-input-field {
	height: 140px;
	padding: 10px;
	font-family: $ff-p;
	transition: 0.2s ease-in;
	border: 2px black solid;

	&:focus {
		outline: 2px $red-arterial-blood solid;
	}

	@include breakpoint-mobile {
		margin-bottom: 30px;
	}
}

.contact-button input {
	min-width: 300px;
	border: $off-black 2px solid;
	border-radius: 8px;
	padding: 8px;
	background-color: $Grey-400;
	
	@include breakpoint-mobile {
		width: 100%;
	}

	&:hover {
		background-color: $Yellow-400;
		color: $Black-950;
		border: 2px $sb-tint-100 solid;
		cursor: pointer;
	}
}
