.contact-hero {
	width: 100%;
	text-align: center;

	h1 {
		font-family: $ff-h1;
		font-size: 128px;
		margin-bottom: 30px;
	}

	p {
		font-family: $ff-p;
		color: $off-black-grey-p;
		margin-bottom: 70px;
	}
}
