// CTA section - blue

.cta-wrapper__left {
	a {
		text-decoration: none;
		color: $dark-blue-secondary;
		font-family: $ff-a;
		width: 240px;
	}
}

button {
	width: 18.375rem;
	padding: 16px 80px;
	background-color: $yellow;
	border-radius: 8px;
	border: none;
	transition: 0.3s ease;

	&:hover {
		background-color: $darker-grey;
		cursor: pointer;
	}
}
