body {
	font-family: $ff-p;
	font-weight: $normal;
	color: $off-black-grey; //color variable set elsewhere
	background: $off-white-cream-bg;
	-webkit-text-size-adjust: 100%; //fix for iOS
}

//HERO

.hero {
	margin: $hero-width;
}

h1 {
	font-family: $ff-h1;
	color: $off-black-grey;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 118%; /* 75.52px */
	letter-spacing: -3.2px;
}

//Hero UNDERLINE

.hero-underline {
	width: 400px;
	height: 17px;
	margin-top: 25px;
	background-color: $ye;
}

// intro text

.intro-text {
	margin: $intro-text-width;

	p {
		font-size: 18px;
		color: $off-black-grey;

		font-size: 18px;
		font-style: normal;
		font-weight: $normal;
		line-height: 151%;
		letter-spacing: 0.54px;
	}
}
