html {
	scroll-snap-type: y mandatory;
}

body {
	color: $White_text;
	background: $Black-500_BG;
	-webkit-text-size-adjust: 100%; //fix for iOS
}

//HERO SECTION

.hero {
	margin: $margin-hero;

	@include breakpoint-mobile {
		margin: $margin-hero-mobile;
	}
}

.hero__h1 {
	font-family: $ff-h1;
	color: $White_text;
	font-size: 5.75rem;
	font-style: normal;
	font-weight: 800;
	line-height: 84%; /* 75.52px */
	text-transform: uppercase;
	letter-spacing: 0.0625rem;

	@include breakpoint-mobile {
		font-size: 42px;
	}
}

//Hero UNDERLINE

.hero-underline {
	width: 400px;
	height: 16px;
	margin-top: 24px;
	background-color: $yellow;

	@include breakpoint-mobile {
		width: 100%;
		align-self: center;
		height: 8px;
	}
}

// intro text

.intro-text {
	margin: $margin-intro-text;

	@include breakpoint-mobile {
		margin: $margin-intro-text-mobile;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	p {
		color: $White_text;
		font-family: $ff-p;
		font-size: 18px;

		font-weight: $fw-light;
		line-height: 151%; /* 27.18px */
		letter-spacing: 0.54px;

		@include breakpoint-mobile {
			font-size: 14px;
		}
	}
}

.hero-fullstop {
	color: $yellow;
	margin-left: 8px;
}

//intro text formatting
.span-space {
	margin-left: 40%;
}

.intro-text {
	font-weight: $fw-normal;
}

.span-bold {
	font-weight: 700;
}

// FEATURED WORK & CLIENTS HEADING

.featured-heading {
	font-family: $ff-h1;
	font-weight: 500;
	font-size: 20px;
	margin: $margin-featured-work-heading;
	border-bottom: 4px solid $White_text;

	@include breakpoint-mobile {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	.span-space {
		padding: 20px;
	}
}

.fa-solid,
.fas {
	font-weight: 600;
	padding-left: 10px;
}

.mobile-only-button {
	display: none;

	@include breakpoint-mobile {
		text-align: center;
		margin: $mobile-only-button;
		display: block;
		color: $off-black;
	}

	#sayHelloButton {
		display: inline-block;
		padding: 12px 74px;
		background-color: $yellow;
		color: black;
		text-decoration: none;
		font-family: $ff-nav;
		font-size: 16px;
		border: solid 2px $off-black-grey-p;
		border-radius: 8px;
		text-align: center;
		transition: background-color 0.3s ease, transform 0.2s ease;
	}

	#sayHelloButton:hover {
		background-color: darken($yellow, 10%); /* Darker shade on hover */
		transform: scale(1.05);
	}

	#sayHelloButton:active {
		transform: scale(0.95);
	}
}
