body {
	color: $off-black-grey-p; //color variable set elsewhere
	background: $grey-bg;
	-webkit-text-size-adjust: 100%; //fix for iOS
}

//HERO

.hero {
	margin: $margin-hero;
	@include breakpoint-mobile {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}
}

.hero__h1 {
	font-family: $ff-h1;
	color: $off-black-grey-p;
	font-size: 4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 118%; /* 75.52px */
	letter-spacing: -3.2px;

	@include breakpoint-mobile {
		text-align: center;
		font-size: 42px;
	}
}

//Hero UNDERLINE

.hero-underline {
	width: 400px;
	height: 17px;
	margin-top: 25px;
	background-color: $yellow;

	@include breakpoint-mobile {
		width: 100%;
		align-self: center;
	}
}

// intro text

.intro-text {
	margin: $margin-intro-text;

	@include breakpoint-mobile {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	p {
		color: $off-black-grey-p;
		font-family: $ff-p;
		font-size: 18px;

		font-weight: $fw-light;
		line-height: 151%; /* 27.18px */
		letter-spacing: 0.54px;
	}
}

//intro text formatting
.span-space {
	margin-left: 40%;
}

.intro-text span {
	font-weight: $fw-normal;
}

// FEATURED WORK & CLIENTS HEADING

.featured-heading {
	font-family: $ff-h1;
	font-size: 20px;
	margin: $margin-featured-work-heading;
	border-bottom: 4px solid black;

	@include breakpoint-mobile {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	.span-space {
		padding: 20px;
	}
}

// .icon-inline {
// 	display: inline-block;
// 	width: 15px;
// 	padding: 0;
// 	margin: 0;
// }

.fa-solid,
.fas {
	font-weight: 600;
	padding-left: 10px;
}

.mobile-only-button {
	text-align: center;
	display: none;

	@include breakpoint-mobile {
		display: block;
		color: $off-black;
	}

	button {
		border: solid 2px $off-black-grey-p;
		background-color: $yellow;
		font-family: $ff-nav;
		font-size: 16px;
	}
}
