.cta-container {
	margin-top: 50px;
	background-color: $blue-secondary;
	color: $off-white;

	.cta-wrapper {
		display: flex;
		justify-content: center;
		margin: $cta-width;

		&__left {
			display: grid;
			gap: 50px;

			padding: 70px;
			width: 50%;

			h3 {
				color: $off-white;
				font-size: 32px;
				font-style: normal;
				font-weight: $fw-normal;
				padding-right: 50px;
			}

			p {
				font-size: 20px;
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			width: 50%;

			p {
				width: 80%;
				font-size: 16px;
				font-size: $fs-400;
				font-style: normal;
				font-weight: $fw-normal;
				line-height: 22.4px;
				letter-spacing: 1.08px;

				align-self: center;
			}

			a {
				color: $yellow-cta;
				transition: 0.3s ease;

				&:hover {
					color: $darker-grey;
				}
			}

			> div {
				display: flex;
				gap: 16px;
			}

			hr {
				width: 75%;
				align-self: center;
				color: $darker-grey;
			}
		}
	}
}

//Icon
.material-symbols-outlined {
	font-size: 55px;
	text-align: center;
}
