.cta-container {
	background-color: $blue-secondary;
	color: $off-white;

	.cta-wrapper {
		display: flex;
		justify-content: center;
		margin: $margin-cta-section;

		@include breakpoint-mobile {
			flex-direction: column-reverse;
		}

		&__left {
			display: grid;
			gap: 50px;
			padding: 70px;
			width: 50%;

			@include breakpoint-mobile {
				margin-top: 30px;
				margin-bottom: 30px;
				padding: 20px;
				width: auto;
			}

			h3 {
				color: $off-white;
				font-size: 32px;
				font-style: normal;
				font-weight: $fw-semibold;
				padding-right: 50px;
				font-family: $ff-h1;
			}

			p {
				font-size: 20px;
				font-family: $ff-p;
			}
		}

		&__right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			width: 50%;

			@include breakpoint-mobile {
				padding-top: 50px;
				width: auto;
			}

			p {
				width: 80%;
				font-size: 16px;
				font-family: $ff-p;
				font-weight: $fw-normal;
				line-height: 22.4px;
				letter-spacing: 1.08px;
				align-self: center;
			}

			a {
				color: $yellow;
				transition: 0.3s ease;
				width: 100%;

				&:hover {
					color: $darker-grey;
				}
			}

			> div {
				display: flex;
				gap: 16px;
			}

			hr {
				width: 75%;
				align-self: center;
				color: $darker-grey;
			}
		}
	}
}

.cta-button {
	width: 100%;

	button {
		width: 100%;
	}
}

//Icon
.material-symbols-outlined {
	font-size: 55px;
	text-align: center;
	align-self: center;
}
