.footer {
	background-color: $yellow-cta;
	height: 330px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
	}

	img {
		width: 250px;
	}

	a {
		color: $dark-blue-secondary;
		transition: 0.3s ease;

		&:hover {
			color: $brown;
		}
	}
}
