.footer {
	background-color: $yellow;
	height: 330px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $ff-a;

	&__wrapper {
		display: flex;
		justify-content: center;
		gap: 50px;
		align-items: center;
	}

	img {
		width: 250px;
	}

	a {
		color: $blue-secondary;
		transition: 0.3s ease;

		&:hover {
			color: $red-arterial-blood;
		}
	}
}
